body{
  margin: 0;
  padding: 0;
 background-color: black;
  color: white;
}
.navbar{
  background-color: rgb(127, 146, 146);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}
.card{
  background-color: rosybrown;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(60, 234, 16);
}
h2{
  text-align: center;

}
.logo{
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}